* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url("../img/bg.png") repeat;
}

canvas {
    margin: auto;
}

#menu {
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #f0f0f0;
    text-align: center;
    background: #0f0f0f;
    color: #fff;
}

#menu p {
    position: absolute;
    right: 10px;
    top: 5px;
    line-height: 40px;
}
#menu button {
    height: 40px;
    width: 40px;
    font-size: 18px;
    border-radius: 50%;
    border: 0;
    cursor: pointer;
    background: #f0f0f0;
    color: #0f0f0f;
}

#menu button:hover {
    opacity: 0.95;
}
